---
import BlogLayout from "@layouts/BlogLayout.astro";
import TypographyH2 from "@/components/typography/TypographyH2.astro";
import TypographyList from "@/components/typography/TypographyList.astro";
import TypographyP from "@/components/typography/TypographyP.astro";

const pageTitle = "About";

const identity = {
  name: "Ski Lee",
  birth: 1993,
  job: "Developer",
  hobby: "Exploring cuting-edge technologies",
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "TypeScript",
  "React",
  "Vue",
  "Next.js",
  "Astro",
  "Node.js",
  "Koa",
  "express",
  "CSharp",
  "Python",
  "Java",
  "MySQL",
  "MongoDB",
];

const happy = true;
const finished = false;

const skillColor = "zinc";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BlogLayout pageTitle={pageTitle}>
  <TypographyH2>Basis</TypographyH2>
  <TypographyList>
    <li><span class="font-bold">Name:</span>{identity.name}</li>
    <li><span class="font-bold">Birth:</span>{identity.birth}🤣</li>
    <li><span class="font-bold">Career:</span>{identity.job}👨‍💻</li>
    <li><span class="font-bold">Hobby:</span>{identity.hobby}🎢</li>
  </TypographyList>
  <TypographyH2>Skills🧐</TypographyH2>
  <TypographyList>
    {
      skills.map((skill) => {
        return <li class="skill">{skill}</li>;
      })
    }
  </TypographyList>
  {happy && <TypographyP>I'm happy to know you!</TypographyP>}
  {
    !finished && (
      <TypographyP>I'm still on road to explore new technologies.</TypographyP>
    )
  }
  <TypographyP>
    If you want to know more about me, please contact me via email:
    <a class="text-blue-600 italic" href="mailto:leeskiikseel@outlook.com"
      >leeskiikseel@outlook.com</a
    >
  </TypographyP>
</BlogLayout>

<style define:vars={{ skillColor, fontWeight, textCase }}>
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
  :global(.dark) li.skill {
    color: #fff;
  }
</style>
