---
import BlogLayout from "../layouts/BlogLayout.astro";
const pageTitle = "About";

const identity = {
  name: "Lee Ski",
  birth: 1993,
  job: "develper",
  hobby: "exploring cuting-edge technologies",
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "TypeScript",
  "React",
  "Vue",
  "Next.js",
  "Astro",
  "Node.js",
  "Koa",
  "express",
  "CSharp",
  "Python",
  "Java",
  "MySQL",
  "MongoDB",
];

const happy = true;
const finished = false;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BlogLayout pageTitle={pageTitle}>
  <h2>Basis</h2>
  <ul>
    <li>name:{identity.name}</li>
    <li>birth:{identity.birth}</li>
    <li>career:{identity.job}</li>
    <li>hobby:{identity.hobby}</li>
  </ul>
  <h2>Skills</h2>
  <ul>
    {
      skills.map((skill) => {
        return <li class="skill">{skill}</li>;
      })
    }
  </ul>
  {happy && <p>I'm happy to know you!</p>}
  {!finished && <p>I'm still on road to explore new technologies.</p>}
</BlogLayout>

<style define:vars={{ skillColor, fontWeight, textCase }}>
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
  :global(.dark) li.skill {
    color: #fff;
  }
</style>
