---
import BaseLayout from "./BaseLayout.astro";
import Tags from "../components/Tags.astro";
import { Image } from "astro:assets";
import { fade } from "astro:transitions";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

const { frontmatter } = Astro.props;

dayjs.extend(utc);

const lastModified = dayjs(Astro.props.frontmatter.lastModified).format(
  "HH:mm:ss DD MMMM YYYY"
);
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="post-container">
    <Tags tags={frontmatter.tags} />
    <p>Pulished on {frontmatter.pubDate.toString().slice(0, 10)}</p>
    <p>Last modified: {lastModified}</p>
    <p transition:animate={fade({ duration: 1000 })}>
      <em>description: {frontmatter.description}</em>
    </p>
    <p>Written by <a href="/blog/about/">{frontmatter.author}</a>.</p>
    <Image
      src={frontmatter.image.url}
      alt={frontmatter.image.alt}
      loading="eager"
    />
    <slot />
  </div>
</BaseLayout>

<style>
  :global(.post-container p > a) {
    color: blue;
    font-weight: 600;
    font-variation-settings: "slnt" 12;
  }
  :global(.dark .post-container p > a) {
    color: #999;
  }
  img {
    width: auto;
    height: auto;
    max-height: 300px;
    max-width: 100%;
    display: block;
  }
  .post-container {
    padding: 2px;
  }
  @media screen and (min-width: 636px) {
    .post-container {
      padding: 16px;
    }
  }
</style>
