---
import BlogLayout from "@layouts/BlogLayout.astro";
import Tags from "@components/blog/Tags.astro";
import { Image } from "astro:assets";
import { fade } from "astro:transitions";
import TypographyP from "@/components/typography/TypographyP.astro";

import "/node_modules/katex/dist/katex.min.css";

const { frontmatter } = Astro.props;
---

<BlogLayout pageTitle={frontmatter.title}>
  <div class="post-container">
    <Tags tags={frontmatter.tags} />
    <TypographyP>
      Published on {frontmatter.pubDate.toString().slice(0, 10)}
    </TypographyP>
    <TypographyP>
      Last modified: {frontmatter.lastModified}
    </TypographyP>
    <TypographyP>
      <em>description: {frontmatter.description}</em>
    </TypographyP>
    <TypographyP>
      Written by
      <a transition:animate="fade" class="italic" href="/blog/about/"
        >{frontmatter.author}</a
      >.
    </TypographyP>
    <Image
      src={frontmatter.image.url}
      alt={frontmatter.image.alt}
      class="rounded-md mt-2"
      loading="eager"
    />
    <div
      class="prose max-w-full mt-3 md:mt-9 prose:list-disc prose:list-decimal prose: md:prose-xl dark:prose-invert"
    >
      <slot />
    </div>
  </div>
</BlogLayout>

<style>
  :global(.post-container p > a) {
    color: blue;
    font-weight: 600;
    font-variation-settings: "slnt" 12;
  }
  :global(.dark .post-container p > a) {
    color: #999;
  }
  img {
    width: auto;
    height: auto;
    max-height: 300px;
    max-width: 100%;
    display: block;
  }
  .post-container {
    padding: 0 2px;
  }
  @media screen and (min-width: 636px) {
    .post-container {
      padding: 2px 16px;
    }
  }
</style>
